@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-background: #F4F7FA;
    --dark-background: #0D1821;
    --light-text: #0D1821;
    --dark-text: #F4F7FA;
}

html {
    --background: var(--light-background);
    --text: var(--light-text)
}

html.dark {
    --background: var(--dark-background);
    --text: var(--dark-text)
}